<div>
    <div style="text-align: center">
        <h3>WELCOME TO RWANDA STARTUP</h3>
        <strong>Network of entrepreurs, mentors, visionaries and investors (slide show)</strong>
        <p>RWANDA STARTUP: incubator that promote bold teams to provide them with the support and the environment necessary to succeed. </p>        
    </div>
    <div class="row">
        <ul class="col-lg-6">
            <h4>Our missions</h4>
            <li><strong>To inform</strong></li>
            <p>Inform our community of current issues, innovations and profound transformations that will impact the market of tomorrow. The goal? Develop project ideas!</p>
            <li><strong>To raise the awareness of</strong></li>
            <p>Sensitize our students and graduates to the creation of a company. The goal? Encourage vocations!</p>
            <li><strong>Specialize</strong></li>
            <p>To propose to young shoots academic courses and trainings adapted to their entrepreneurial ambitions. The goal? Teach them the basics necessary for the job of entrepreneur!</p>
            <li><strong>Support</strong></li>
            <p>Accompany all project promoters in the creation and development of their startup. The goal? Give them the best chance of success!</p>
        </ul>
        <ul class="col-lg-6">
            <h4>Your profile</h4>
            <li>You are carrying out a business creation project and you want to be support in your approach</li>
            <li>You are an expert in your field, you want to share your expertise or support a project, in short give your time to encourage our young shoots.</li>
            <li>You are a company or an individual and you want to financially support our actions</li>
        </ul>
    </div>
</div>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <p>Create an account or login</p>
            <a href="/users/register" class="btn btn-primary btn-block">Register</a>
            <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
        </div>
    </div>
</div>
<br><br><br>
<div class="card bg-dark text-white">
        <div class="card-img-overlay">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text">Last updated 3 mins ago</p>
        </div>
      </div>

      <h5 class="card-title">Our partners</h5>
      <strong><i>UTB and American corners</i></strong>